version: '3.8'
name: paperless-swen3

services:
  paperless.rest:
    image: ${DOCKER_REGISTRY-}paperlessrest
    container_name: paperless-rest
    build:
      context: .
      dockerfile: Paperless.REST/Dockerfile
    volumes:
      - ./.data/Files:/.data/Files:rw
    depends_on:
      - paperless.db

  paperless.ui:
    image: ${DOCKER_REGISTRY-}paperlessui
    container_name: paperless-ui
    build:
      context: . 
      dockerfile: Paperless.UI/Dockerfile
    depends_on:
      - paperless.rest

  paperless.db:
    image: postgres:15
    restart: unless-stopped
    container_name: paperless-db
    environment:
      - POSTGRES_DB=paperless
      - POSTGRES_USER=paperless
      - POSTGRES_PASSWORD=paperless
    volumes:
      - ./.data/paperless-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  paperless.adminer:
    image: adminer:5.4.0
    container_name: paperless-adminer
    restart: unless-stopped
    ports:
      - 9091:8080
    environment:
      - ADMINER_DEFAULT_SERVER=paperless-db
      - ADMINER_DEFAULT_DRIVER=pgsql
      - ADMINER_DESIGN=dracula
    depends_on:
      - paperless.db


