services:
  paperless.rest:
    # misuse of volumes to mount the folders required for debugging because VS
    volumes:
      - ./Paperless.REST:/src/Paperless.REST:ro

  paperless.ui:
    # misuse of volumes to mount the folders required for debugging because VS
    volumes:
     - ./Paperless.UI:/src/Paperless.UI:ro

  paperless.worker.ocr:
    # need root user in debug because of tesseract not finding libtesseract data otherwise
    user: root
    # misuse of volumes to mount the folders required for debugging because VS
    volumes:
      - ./Paperless.Worker.OCR:/src/Paperless.Worker.OCR:ro
    # misuse of healthcheck to create symlinks for debug becaus VS beeing VS
    healthcheck:
      test: ["CMD", "sh", "/src/init.sh", "|| exit 0"]
      interval: 5s
      timeout: 2s
      retries: 2

  # enable elastic search container to have a ui part
  paperless.elasticsearch:
    environment:
      - http.cors.enabled='true'
      - http.cors.allow-origin="*"
      - http.cors.allow-headers=X-Requested-With,Content-Type,Content-Length,Authorization
      - cluster.routing.allocation.disk.threshold_enabled=false
  
  paperless.elasticsearch.ui:
    image: cars10/elasticvue
    container_name: paperless-elasticsearch-ui
    ports:
      - 9092:8080
    environment:
      - ELASTICVUE_CLUSTERS='[{"name":"SWEN-cluster","uri":"http://localhost:9200"}]'